<div class="team-overlay" data-lenis-prevent id="team-overlay-{{loop.index}}">
	<div class="cross_container close">
		<svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M10.05 12.3335L2.8165 19.5665C2.4945 19.8888 2.10567 20.05 1.65 20.05C1.19433 20.05 0.805501 19.8888 0.483501 19.5665C0.161167 19.2445 0 18.8557 0 18.4C0 17.9443 0.161167 17.5555 0.483501 17.2335L7.7165 10L0.483501 2.8165C0.161167 2.4945 0 2.10567 0 1.65C0 1.19433 0.161167 0.805499 0.483501 0.483499C0.805501 0.161166 1.19433 0 1.65 0C2.10567 0 2.4945 0.161166 2.8165 0.483499L10.05 7.7165L17.2335 0.483499C17.5335 0.161166 17.9168 0 18.3835 0C18.8502 0 19.2445 0.161166 19.5665 0.483499C19.8998 0.816833 20.0665 1.2085 20.0665 1.6585C20.0665 2.1085 19.8998 2.4945 19.5665 2.8165L12.3335 10L19.5665 17.2335C19.8888 17.5555 20.05 17.9443 20.05 18.4C20.05 18.8557 19.8888 19.2445 19.5665 19.5665C19.2332 19.8998 18.8415 20.0665 18.3915 20.0665C17.9415 20.0665 17.5555 19.8998 17.2335 19.5665L10.05 12.3335Z" fill="white"/>
		</svg>
	</div>
	<div class="team-modal">
		<div class="content-team">
			<div class="img-content">
				<img src="{{Image(team.profile_pic).src}}" alt="{{Image(team.profile_pic).alt}}">
			</div>
			<div class="text-content">
				<h3 class="team-name">{{team.title}}</h3>
				<p class="position">{{team.position}}</p>
				<div class="bio">{{team.bio}}</div>
			</div>
		</div>
	</div>
</div>
