{% extends "base.twig" %}
{% block content %}
	<div class="error-block">
		<h1 style="margin-block: 50px;" class="center padding-lr">404</h1>
		<h3 class="page h4 center padding-lr">Ooops!!! The page you are looking for is not found</h3>
		<a class="back-home" href="{{site.url}}">
			<span>Back to home</span>
			{{source (directory ~ '/static/images/btn-arrow.svg') }}
		</a>
		<a class="custom-btn" href="{{site.url}}">
			<span>Custo btn</span>
			
		</a>
		<a class="light-btn" href="{{site.url}}">
			<span>Light Btn</span>
			
		</a>
		<a class="green-btn" href="{{site.url}}">
			<span>Green Btn</span>
			
		</a>
		<a class="custom-arrow-btn" href="{{site.url}}">
			<span>Light-arrow0btn</span>
			{{source (directory ~ '/static/images/btn-arrow.svg') }}
		</a>
		<a class="light-arrow-btn" href="{{site.url}}">
			<span>Light-arrow0btn</span>
			{{source (directory ~ '/static/images/btn-arrow.svg') }}
		</a>
		<a class="green-arrow-btn" href="{{site.url}}">
			<span>Greenn Arrow-btn</span>
			{{source (directory ~ '/static/images/btn-arrow.svg') }}
		</a>
	</div>
{% endblock %}
